#folders
# .vscode/ better save configuration modified to eliminate AI hint on the code
.venv/
__pycache__/
hamming-codec/
old/
pyldpc
grafico/

#single files
log.csv

*.pyc

snippet.txt
convenzioni.txt
appunti_progetto.txt
istruzioni.txt
prove.txt
inferno_c1.txt

strbyte.py
test_hammyng copy.py
test_ldpc.py
pypldp-shapingG.py
