#folders
# .vscode/ better save configuration modified to eliminate AI hint on the code
.venv/
__pycache__/
hamming-codec/
old/
pyldpc

#single files
commonhelp.py

*.pyc

snippet.txt
convenzioni.txt
appunti_progetto.txt
istruzioni.txt
prove.txt

strbyte.py
test_hammyng copy.py
test_ldpc.py
pypldp-shapingG.py
test_hammyng.py
